<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088885305820-1r9ca6put6k47hl14s21j019vf115rlk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088885305820-1r9ca6put6k47hl14s21j019vf115rlk</string>
	<key>API_KEY</key>
	<string>AIzaSyCEmUBMn1JCYCcc8AAdml7ZOZsoAGYz7qk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088885305820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBull</string>
	<key>PROJECT_ID</key>
	<string>flutter-bull</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-bull.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088885305820:ios:8e821b89a3b56788841f19</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-bull-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>